
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
  width: 100%;
	margin: 0;
	padding: 0;
  font-size: 12px !important;
}

body,
.search {
  background-color: rgba($green-minagri-light, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.input-group-btn.input-group-btn-with-label{
	vertical-align: bottom;
}

.table-striped > tbody > tr:nth-of-type(odd){
	background-color: rgba($gray-minagri, 0.1);
}

.table-hover > tbody > tr:hover{
	background-color: rgba($green-minagri-light, 0.3);
}

.table > thead > tr > td.success, .table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th{
	background-color: rgba($green-minagri-light, 0.3);
}

.table .thead-dark th{
	color: #fff;
  background-color: $brand-primary;
  border-color: lighten($brand-primary, 60%);
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
	border: 1px solid rgba($gray-minagri, 0.1);
}

.table-success, .table-success>td, .table-success>th {
  background-color: #c3e6cb !important;
}

#app{
	.app-container{
		@extend .row;
		.search{

			@extend .col-sm-12;
			form{
				@extend .row;
				.form-group{
					@extend .col-sm-2;
					&.txtDenom{
						@extend .col-sm-2;
					}
					&.btn-group{
						@extend .col-sm-2;
					}
				}
			}
		}
		.map{
			@extend .col-sm-6;
		}
		.chart{
			@extend .col-sm-6;
			.page-header{
				margin: 0 auto;
				padding: 0;
				background-color: white;
				border-bottom: 0px solid transparent;
				h3{
					color: $brand-primary;
					padding: 10px 15px;
					margin: 0;
				}
			}
			.chart__table{
				@extend .row;
				.chart__table-container{
					@extend .col-sm-12;
					
				.dataTables_wrapper{
					@extend .col-sm-12;
					background-color: white;
					padding-top: 5px;
					.dataTables_length{

					}
					.dataTables_filter{
					}
					.table{
						width: 100% !important;
					}
					.dataTables_info{

					}
					.dataTables_paginate {
						text-align: right;
							.pagination{
								margin: 0;
							}
						}
					}
				}
				
			}
			.chart__image{
				@extend .row;
				min-width: 100% !important;
				.chart__image-container{

					@extend .col-sm-12;

					.chartShow{
						background-color: white;

					}
				}
				
				
				
			}
		}
	}
}

.spinner-wrapper{
	// height: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// background-color: #FFFFFF;
	opacity: .75;
	@extend .col-sm-12;
	text-align: center;
	margin: 50% auto;
}

.form-control-sm{
	@extend .input-sm;
}

table{
	@extend .table;
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
	@extend .table-hover;
	@extend .table-responsive;
	@extend .table-condensed;
}

label {
  display: block;
}

header {
  position: relative;
  
  h1 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    color: #ffffff;
    z-index: 1;
  }

  .owl-carousel {
    z-index: 0;
  }

  margin-bottom: 15px;
}

footer {
  background-color: #ffffff;
  margin-top: 40px;

  .container-fluid {
    padding: 20px 0;
  }

  nav {
    display: flex;
    justify-content: space-between;

  }

  &::after {
    background: $green-minagri-light 50%;
    background: $green-minagri-light 50% -webkit-linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background: $green-minagri-light 50% -o-linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background: $green-minagri-light 50% linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: '';
    height: 2rem;
    width: 100%;
  }
}

.card {
	-vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
	position: relative;
	background-color: #fff;
	transition: box-shadow .25s;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

	.card-image {
		background: #009E41 50%;
    background: #009E41 50% linear-gradient(45deg, #009E41 50%, #125230 50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 100%;
	}

  .card-header {
    font-size: 36px;
    color: white;
    padding: .75rem 1.25rem;
		font-family: 'Montserrat', sans-serif;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(3,3,3,0.5) 99%,rgba(0,0,0,0.5) 100%); 
  }

  .card-body {
    display: flex;
    flex-direction: column;
		padding: 1.25rem;

		.media,
		.media-left {
			display: flex;
		}
		
		.media {
			margin-bottom: 15px;

			.media-left {
				font-size: 32px;
			}

			.media-body {
				.media-heading {
					font-size: 32px;
					font-weight: normal;
				}

				p {
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}
  }

/*   
  
  .card-text {
    font-size: 24px;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
  } */
}