
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
  width: 100%;
	margin: 0;
	padding: 0;
  font-size: 12px !important;
}

body {
  background-color: rgba($green-minagri-light, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.input-group-btn.input-group-btn-with-label{
	vertical-align: bottom;
}

.table-striped > tbody > tr:nth-of-type(odd){
	background-color: rgba($gray-minagri, 0.1);
}

.table-hover > tbody > tr:hover{
	background-color: rgba($green-minagri-light, 0.3);
}

.table > thead > tr > td.success, .table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th{
	background-color: rgba($green-minagri-light, 0.3);
}

.table .thead-dark th{
	color: #fff;
  background-color: $brand-primary;
  border-color: lighten($brand-primary, 60%);
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
	border: 1px solid rgba($gray-minagri, 0.1);
}

.table-success, .table-success>td, .table-success>th {
  background-color: #c3e6cb !important;
}

#app{
	.app-container{
		@extend .row;
		.search{
			@extend .col-sm-12;
			form{
				@extend .row;
				.form-group{
					@extend .col-sm-2;
					&.txtDenom{
						@extend .col-sm-2;
					}
					&.btn-group{
						@extend .col-sm-2;
					}
				}
			}
		}
		.map{
			@extend .col-sm-6;
		}
		.chart{
			@extend .col-sm-6;
			.page-header{
				margin: 0 auto;
				padding: 0;
				background-color: white;
				border-bottom: 0px solid transparent;
				h3{
					color: $brand-primary;
					padding: 10px 15px;
					margin: 0;
				}
			}
			.chart__table{
				@extend .row;
				.chart__table-container{
					@extend .col-sm-12;
					
				.dataTables_wrapper{
					@extend .col-sm-12;
					background-color: white;
					padding-top: 5px;
					.dataTables_length{

					}
					.dataTables_filter{
					}
					.table{
						width: 100% !important;
					}
					.dataTables_info{

					}
					.dataTables_paginate {
						text-align: right;
							.pagination{
								margin: 0;
							}
						}
					}
				}
				
			}
			.chart__image{
				@extend .row;
				min-width: 100% !important;
				.chart__image-container{

					@extend .col-sm-12;

					.chartShow{
						background-color: white;

					}
				}
				
				
				
			}
		}
	}
}

.spinner-wrapper{
	// height: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// background-color: #FFFFFF;
	opacity: .75;
	@extend .col-sm-12;
	text-align: center;
	margin: 50% auto;
}

.form-control-sm{
	@extend .input-sm;
}

table{
	@extend .table;
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
	@extend .table-hover;
	@extend .table-responsive;
	@extend .table-condensed;
}

label {
  display: block;
}

header {
  position: relative;
  
  h1 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    color: #ffffff;
    z-index: 1;
  }

  .owl-carousel {
    z-index: 0;
  }

  margin-bottom: 15px;
}

footer {
  background-color: #ffffff;
  margin-top: 40px;

  .container-fluid {
    padding: 20px 0;
  }

  nav {
    display: flex;
    justify-content: space-between;

  }

  &::after {
    background: $green-minagri-light 50%;
    background: $green-minagri-light 50% -webkit-linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background: $green-minagri-light 50% -o-linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background: $green-minagri-light 50% linear-gradient(45deg, $green-minagri-light 50%, $green-minagri-dark 50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: '';
    height: 2rem;
    width: 100%;
  }
}